:local .Footer {
  width: 100%;
  height: 2em;
  font-size: 2.5em;
  // position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #08304b;
  a {
    color: #146474;
    // color: #5e5e5e;
    margin: 0 0.4em;
    &:hover {
      color: #c9995b;
    }
    &:active {
      color: #c9995b;
    }
    &:focus {
      color: #c9995b;

    }
  }
}
