// Media Queries
$custom-devices: 320px;
$extra-small-devices: 480px;
$small-devices: 767px;
$medium-devices: 979px;
$large-devices: 1200px;

// Colors
$primary-color: #161616;
$secondary-color: #1c1c1c;
$accent-color: #c0a062;
$dark-color: #0d0d0d;

// Fonts
$header-color: #fff;
$subheader-color: #5e5e5e;
$paragraph-color: #999999;
$highlight-color: #c0a062;
$shadow-color: #121212;
$detail-color: #272727;

//Animations
$fade-project-enter: 350ms;
$fade-project-leave: 350ms;
