:local .Contact {
  height: 47em;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: 'Merriweather', serif;
    color: #121212;
    text-align: center;
    font-weight: bold;
    font-size: 3.2em;
  }

  h3 {
    font-family: 'Merriweather', serif;
    color: #c0a062;
    text-align: right;
    margin-right: 1em;
    margin-top: -0.9em;
  }

  h4 {
    display: none;
  }

  .bigWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .line {
    position: absolute;
    border: 1px solid #c0a062;
    width: 10em;
    right: 0;
    left: 0;
  }

  .headingWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12em;
  }

  .phoneWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 480px) {

  }

  @media (min-width: 768px) {

    .headings {
      position: relative;
    }

    h2 {
      font-size: 4em;
      font-weight: bold;
      margin-top: -2em;
      margin-right: 1em;
    }

    h3 {
      font-size: 2.8em;
      line-height: 40px;
      margin-top: -0.6em;
      margin-left: 0.5em;
      text-align: left;
    }

    h4 {
      position: absolute;
      width: 8em;
      margin-left: 1em;
      color: #c3c3c3;
      line-height: 35px;
      font-size: 1.8em;
      display: inline-block;
    }

    .bigWrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .line {
      border: 1px solid #c0a062;
      width: 6.5em;
      position: absolute;
      top: 10em;
      left: -25em;
    }

    .headingWrap {
      width: 60%;
    }

    .phoneWrapper {
      width: 40%;
    }
  }
}
