@import '../../../styles/variables';

:local .Contact {
  height: 47em;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3.2em;
    color: $shadow-color;
    font-weight: $shadow-font-weight;
    font-family: $shadow-font-family, serif;
  }

  h3 {
    text-align: right;
    margin-right: 1em;
    margin-top: -0.9em;
    color: $highlight-color;
    font-family: $highlight-font-family, serif;
  }

  h4 {
    display: none;
  }

  .bigWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .line {
    position: absolute;
    border-top: 0 none;
    height: 1px;
    background-color: $accent-color;
    width: 10em;
    right: 0;
    left: 0;
  }

  .headingWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12em;
  }

  .phoneWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $extra-small-devices) {

  }

  @media (min-width: $small-devices) {

    .headings {
      position: relative;
    }

    h2 {
      font-size: 4em;
      font-weight: bold;
      margin-top: -2em;
      margin-right: 1em;
    }

    h3 {
      font-size: 2.8em;
      line-height: 40px;
      margin-top: -0.6em;
      margin-left: 0.5em;
      text-align: left;
    }

    h4 {
      position: absolute;
      width: 8em;
      margin-left: 1em;
      line-height: 35px;
      font-size: 1.8em;
      color: $paragraph-color;
      font-weight: $paragraph-font-weight;
      font-family: $paragraph-font-family;
      display: inline-block;
    }

    .bigWrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .line {
      width: 6.5em;
      position: absolute;
      top: 10em;
      left: -25em;
    }

    .headingWrap {
      width: 60%;
    }

    .phoneWrapper {
      width: 40%;
    }
  }
}
