:local .Contact {
  display: flex;
  justify-content: center;
  align-items: center;

  .phoneImage {
    position: absolute;
    height: 40em;
    width: 45em;
    // z-index: 9999;
    // background-color: green;
    top: 3.5em;
    background-size: cover;
    background-image: url('../../../assets/images/phone.png');
    filter: grayscale(100%);
  }

  .bigWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
  }

  h1 {
    font-family: 'Merriweather', serif;
    color: #121212;
    text-align: center;
    margin-bottom: 0em;
    margin-left: -1em;
    margin-top: 0.5em;
  }

  h3 {
    font-family: 'Merriweather', serif;
    color: #c0a062;
    margin-left: 2.2em;
    margin-top: -0.4em;
    margin-bottom: -0.5em;
  }

  h4 {
    position: absolute;
    top: 2.4em;
    left: 4em;
    font-size: 1em;
    text-align: center;
    width: 40%;
    font-family: 'Merriweather', serif;
    line-height: 30px;
  }

  .headings {
    width: 30em;
  }

  .phoneWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 480px) {

  }

  @media (min-width: 768px) {



    .bigWrapper {
      justify-content: flex-start;
      align-items: flex-start;
    }

    h1 {
      position: absolute;
      font-size: 4em;
      right: 1em;
      text-align: left;
    }

    h3 {
      position: absolute;
      top: 3.4em;
      right: 2.3em;
      font-size: 3em;
      text-align: left;
      line-height: 50px;
    }

    .headings {
      width: 35%;
      margin-left: 3em;
      position: relative;
    }

    .phoneWrapper {
      width: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
