:local .phoneBox {

  position: relative;
  // perspective: 50em;

  .phoneImage {
    position: absolute;
    height: 35em;
    width: 37em;
    // z-index: 9999;
    // background-color: green;
    top: 3.5em;
    left: -12em;
    z-index: -1;
    background-size: cover;
    background-image: url('../../../assets/images/phone.png');
    filter: grayscale(100%);
  }

  .insideCircle {
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    border: 2px solid #171717;
    background: radial-gradient(circle at 150px 100px, #171717, #000);
    position: relative;
  }

  .infoCircle {
    position: absolute;
    height: 4em;
    width: 20em;
    right: -2.8em;
    bottom: -18em;
    background-color: #0b0b0b;
    transform: rotate(2deg);
    a {
      position: absolute;
      top: 1.5em;
      left: 0;
      right: 0;
    }
  }

  .ring {
    position: absolute;
    right: -0.4em;
    bottom: -3.3em;
    width: 55px;
    height: 30px;
    transform: rotate(45deg);
    border-radius: 50%;
    box-shadow: 14px 14px 0 0 #272727;
  }

  .one {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 2em;
    right: 1.25em;
    font-size: 1.2em;
    background-color: #dadada;
    padding: 0;
    border: 2px solid #000;
  }

  .two {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 0.6em;
    right: 3.15em;
    font-size: 1.2em;
    background-color: #979797;
    border: 2px solid #000;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: white;
      border: 1px solid #c0a062;
    }
  }

  .three {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 0.35em;
    right: 5.35em;
    font-size: 1.2em;
    background-color: #dadada;
    padding: 0;
    border: 2px solid #000;
  }

  .four {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 1.2em;
    left: 2.05em;
    font-size: 1.2em;
    background-color: #dadada;
    padding: 0;
    border: 2px solid #000;
  }

  .five {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 2.95em;
    left: 0.69em;
    font-size: 1.2em;
    background-color: #979797;
    border: 2px solid #000;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: white;
      border: 1px solid #c0a062;
    }
  }

  .six {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 5.1em;
    left: 0.35em;
    font-size: 1.2em;
    background-color: #dadada;
    padding: 0;
    border: 2px solid #000;
  }

  .seven {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 2.25em;
    left: 1.1em;
    font-size: 1.2em;
    background-color: #979797;
    border: 2px solid #000;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: white;
      border: 1px solid #c0a062;
    }
  }

  .eight {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 0.75em;
    left: 2.8em;
    font-size: 1.2em;
    background-color: #dadada;
    padding: 0;
    border: 2px solid #000;
  }

  .nine {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 0.4em;
    left: 5em;
    font-size: 1.2em;
    background-color: #dadada;
    padding: 0;
    border: 2px solid #000;
  }

  .zero {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 1.1em;
    right: 2.3em;
    font-size: 1.2em;
    background-color: #979797;
    border: 2px solid #000;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: white;
      border: 1px solid #c0a062;
    }
  }


  .dialPhoneWrap {
    position: absolute;
    // background-color: #0b0b0b;
    background: radial-gradient(circle at 110px 100px, #1c1c1c, #000);
    height: 14.5em;
    width: 14.5em;
    top: 12em;
    left: -0.6em;
    z-index: 0;
    border: 3px solid #171717;
    border-radius: 50%;
    transform: rotateX(20deg);
  }

  @media (min-width: 480px) {

  }

  @media (min-width: 768px) {

    .dialPhoneWrap {
      position: absolute;
      // background-color: #0b0b0b;
      background: radial-gradient(circle at 110px 100px, #1c1c1c, #000);
      height: 17em;
      width: 17em;
      top: 12.5em;
      left: 12.8em;
      z-index: 0;
      border: 3px solid #171717;
      border-radius: 50%;
      transform: rotateX(20deg);
    }

    .phoneImage {
      position: absolute;
      height: 40em;
      width: 45em;
      top: 3.5em;
      left: 0;
      z-index: -1;
      background-size: cover;
      background-image: url('../../../assets/images/phone.png');
      filter: grayscale(100%);
    }

    .ring {
      position: absolute;
      right: -14em;
      bottom: -2.5em;
      width: 60px;
      height: 30px;
      transform: rotate(40deg);
      border-radius: 50%;
      box-shadow: 15px 15px 0 0 #272727;
    }

    .infoCircle {
      height: 5em;
      width: 23em;
      left: 9.5em;
      bottom: -20.5em;
      background-color: #0b0b0b;
      transform: rotate(2deg);
      a {
        top: 1em;
      }
    }

    .insideCircle {
      height: 7.7em;
      width: 7.7em;
      border: 2px solid #171717;
      background: radial-gradient(circle at 150px 100px, #171717, #000);
    }

    .one {
      font-size: 1.4em;
    }

    .two {
      font-size: 1.4em;
    }

    .three {
      font-size: 1.4em;
    }

    .four {
      font-size: 1.4em;
    }

    .five {
      font-size: 1.4em;
    }

    .six {
      font-size: 1.4em;
    }

    .seven {
      font-size: 1.4em;
    }

    .eight {
      font-size: 1.4em;
    }

    .nine {
      font-size: 1.4em;
    }

    .zero {
      font-size: 1.4em;
    }
  }
}

.NormalInfo {
  text-align: center;
  margin-top: 1em;
  a {
    color: #c0a062;
    &:hover {
      color: #c0a062
    }
    &:active {
      color: #c0a062
    }
    &:focus {
      color: #c0a062
    }
  }
}

.GithubFade {
  text-align: center;
  margin-top: 1em;
  animation: GitIn 3s;
  a {
    color: #c0a062;
    &:hover {
      color: #c0a062
    }
    &:active {
      color: #c0a062
    }
    &:focus {
      color: #c0a062
    }
  }
}

.TwitterFade {
  text-align: center;
  margin-top: 1em;
  animation: TwitIn 3s;
  a {
    color: #c0a062;
    &:hover {
      color: #c0a062
    }
    &:active {
      color: #c0a062
    }
    &:focus {
      color: #c0a062
    }
  }
}

.EmailFade {
  text-align: center;
  margin-top: 1em;
  animation: EmailIn 3s;
  a {
    color: #c0a062;
    &:hover {
      color: #c0a062
    }
    &:active {
      color: #c0a062
    }
    &:focus {
      color: #c0a062
    }
  }
}

.LinkedInFade {
  text-align: center;
  margin-top: 1em;
  animation: LinkIn 3s;
  a {
    color: #c0a062;
    &:hover {
      color: #c0a062
    }
    &:active {
      color: #c0a062
    }
    &:focus {
      color: #c0a062
    }
  }
}

.dialPhoneWrap {
  background-color: #030303;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  z-index: 99999;
}

.dialPhone {
  height: 13.5em;
  width: 13.5em;
  top: 8.4em;
  left: -0.1em;
  margin-top: 4em;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Github {
  height: 13.5em;
  width: 13.5em;
  top: 8.4em;
  left: -0.1em;
  margin-top: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: github 2.5s;
}

.Twitter {
  height: 13.5em;
  width: 13.5em;
  top: 8.4em;
  left: -0.1em;
  margin-top: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: twitter 3s;
}

.Email {
  height: 13.5em;
  width: 13.5em;
  top: 8.4em;
  left: -0.1em;
  margin-top: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: email 3.2s;
}

.LinkedIn {
  height: 13.5em;
  width: 13.5em;
  top: 8.4em;
  left: -0.1em;
  margin-top: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: linkedIn 4s;
}

@media (min-width: 768px) {


  .NormalInfo {
    margin-top: 5em;
    font-size: 1.5em;
  }

  .GithubFade {
    margin-top: 5em;
    font-size: 1.5em;
  }

  .TwitterFade {
    margin-top: 5em;
    font-size: 1.5em;
  }

  .EmailFade {
    margin-top: 5em;
    font-size: 1.5em;
  }

  .LinkedInFade {
    margin-top: 5em;
    font-size: 1.5em;
  }

  .dialPhone {
    height: 16em;
    width: 16em;
    top: 9em;
    left: 13.3em;
  }

  .Github {
    height: 16em;
    width: 16em;
    top: 9em;
    left: 13.3em;
  }

  .Twitter {
    height: 16em;
    width: 16em;
    top: 9em;
    left: 13.3em;
  }

  .Email {
    height: 16em;
    width: 16em;
    top: 9em;
    left: 13.3em;
  }

  .LinkedIn {
    height: 16em;
    width: 16em;
    top: 9em;
    left: 13.3em;
  }
}

@keyframes github {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(83deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes twitter {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(170deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes email {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes linkedIn {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(317deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes GitIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes TwitIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes EmailIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes LinkIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
