@import '../../../styles/variables';

:local .InfoLink {

  .linkWrapper {
    display: flex;
  }

  a {
    color: $highlight-color;
    &:hover {
      color: $highlight-color;
    }
    &:active {
      color: $highlight-color;
    }
    &:focus {
      color: $highlight-color;
    }
  }
}
