@import "contact-animations";

:local .PhoneDial {
  .insideCircle {
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    border: 2px solid #021019;
    background-color: #011829;
    position: relative;
  }

  @media (min-width: 768px) {
    .insideCircle {
      height: 7.7em;
      width: 7.7em;
    }
  }
}

.dialPhone {
  left: -0.45em;
  top: 7.5em;
  height: 13.5em;
  width: 13.5em;
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Github {
  left: -0.45em;
  top: 7.5em;
  height: 13.5em;
  width: 13.5em;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: githubSpin 2.5s;
}

.Twitter {
  left: -0.45em;
  top: 7.5em;
  height: 13.5em;
  width: 13.5em;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: twitterSpin 3s;
}

.Email {
  left: -0.45em;
  top: 7.5em;
  height: 13.5em;
  width: 13.5em;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: emailSpin 3.2s;
}

.LinkedIn {
  left: -0.45em;
  top: 7.5em;
  height: 13.5em;
  width: 13.5em;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: linkedInSpin 4s;
}

@media (min-width: 768px) {
  .dialPhone {
    top: 0.3em;
    left: -5.5em;
    height: 16em;
    width: 16em;
  }

  .Github {
    top: 0.3em;
    left: -5.5em;
    height: 16em;
    width: 16em;
  }

  .Twitter {
    top: 0.3em;
    left: -5.5em;
    height: 16em;
    width: 16em;
  }

  .Email {
    top: 0.3em;
    left: -5.5em;
    height: 16em;
    width: 16em;
  }

  .LinkedIn {
    top: 0.3em;
    left: -5.5em;
    height: 16em;
    width: 16em;
  }
}

@include phoneDialSpin(githubSpin, 83deg);
@include phoneDialSpin(twitterSpin, 170deg);
@include phoneDialSpin(emailSpin, 230deg);
@include phoneDialSpin(linkedInSpin, 317deg);
