@import '../../../styles/variables';

:local .PhoneButton {
  .one {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 2em;
    right: 1.25em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    padding: 0;
    color: #fff;
    border: 2px solid #0d0d0d;
  }

  .two {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 0.6em;
    right: 3.15em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    border: 2px solid #0d0d0d;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: #fff;
      border: 2px solid #0d0d0d;
    }
  }

  .three {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 0.35em;
    right: 5.35em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    padding: 0;
    border: 2px solid #0d0d0d;
  }

  .four {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 1.2em;
    left: 2.05em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    padding: 0;
    border: 2px solid #0d0d0d;
  }

  .five {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 2.95em;
    left: 0.69em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    border: 2px solid #0d0d0d;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: #fff;
      border: 2px solid #0d0d0d;
    }
  }

  .six {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: 5.1em;
    left: 0.35em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    padding: 0;
    border: 2px solid #0d0d0d;
  }

  .seven {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 2.25em;
    left: 1.1em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    border: 2px solid #0d0d0d;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: #fff;
      border: 2px solid #0d0d0d;
    }
  }

  .eight {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 0.75em;
    left: 2.8em;
    font-size: 1.2em;
    color: #fff;
    background-color: #1c1c1c;
    padding: 0;
    border: 2px solid #0d0d0d;
  }

  .nine {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 0.4em;
    left: 5em;
    font-size: 1.2em;
    color: #fff;
    background-color: #1c1c1c;
    padding: 0;
    border: 2px solid #0d0d0d;
  }

  .zero {
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 1.1em;
    right: 2.3em;
    font-size: 1.2em;
    background-color: #1c1c1c;
    color: #fff;
    border: 2px solid #0d0d0d;
    padding: 0;
    &:hover {
      background-color: #c0a062;
      color: #fff;
      border: 2px solid #0d0d0d;
    }
  }


  @media (min-width: $extra-small-devices) {

  }

  @media (min-width: $small-devices) {

    .one {
      font-size: 1.4em;
    }

    .two {
      font-size: 1.4em;
    }

    .three {
      font-size: 1.4em;
    }

    .four {
      font-size: 1.4em;
    }

    .five {
      font-size: 1.4em;
    }

    .six {
      font-size: 1.4em;
    }

    .seven {
      font-size: 1.4em;
    }

    .eight {
      font-size: 1.4em;
    }

    .nine {
      font-size: 1.4em;
    }

    .zero {
      font-size: 1.4em;
    }
  }
}
