@import '../../../styles/variables';

:local .About {

  height: 50em;
  padding-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    position: absolute;
    font-size: 1.2em;
    color: $paragraph-color;
    font-weight: $paragraph-font-weight;
    font-family: $paragraph-font-family, serif;
  }

  h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
    color: $shadow-color;
    font-weight: $shadow-font-weight;
    font-family: $shadow-font-family, serif;
  }

  h3 {
    font-size: 2.7em;
    text-align: center;
    margin-top: -0.5em;
    color: $highlight-color;
    font-family: $highlight-font-family, serif;
  }

  .line {
    border-top: 0 none;
    height: 1px;
    width: 10em;
    margin-left: 9em;
    background-color: $accent-color;
  }

  .inside {
    height: 100%;
    width: 29em;
    margin-top: 4em;
    position: relative;
  }

  .imageHolder {
    height: 33em;
  }

  .hockeyImage {
    position: absolute;
    background-image: url('../../../assets/images/chiefs.png');
    background-size: cover;
    height: 17.5em;
    width: 17.5em;
    left: 1.4em;
    top: 11.1em;
    transition: all 500ms ease;
    filter: drop-shadow(5px 2px 7px rgba(255,255,255,0.4)); filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.9));
  }

  .story {
    position: relative;
    margin-top: -0.7em;
  }

  .one {
    top: 1em;
    right: 3.7em;
  }

  .two {
    width: 54%;
    top: 2.6em;
    right: 2em;
    line-height: 30px;
  }

  .three {
    right: 2em;
    top: 6.4em;
  }

  .four {
    left: 8.6em;
    top: 7.8em;
    margin-right: 1em;
    line-height: 28px;
  }

  .five {
    top: 14.5em;
    left: 5em;
    line-height: 30px;
  }

  .buttonBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .film {
    margin-top: 0.05em;
  }

  .pdf {
    margin-top: -0.1em;
  }

  .videoButton {
    font-size: 0.9em;
    border: none;
    display: flex;
    border-radius: 0px;
    margin-right: 1em;
    color: $highlight-button-color;
    background-color: $highlight-button-background-color;
    font-family: $highlight-button-font-family, sans-serif;
    &:hover {
      background-color: $highlight-button-hover-background-color;
      transition: all 1s ease;
    }
  }

  .pdfButton {
    font-size: 0.9em;
    border: none;
    display: flex;
    border-radius: 0px;
    margin-left: 1em;
    color: $highlight-button-color;
    background-color: $highlight-button-background-color;
    font-family: $highlight-button-font-family, sans-serif;
    &:hover {
      background-color: $highlight-button-background-color;
      transition: all 1s ease;
    }
  }

  @media (min-width: $extra-small-devices) {
    height: 60em;

    p {
      font-size: 1.4em;
    }

    .inside {
      width: 34em;
    }

    .imageHolder {
      height: 37em;
    }

    .hockeyImage {
      height: 25em;
      width: 25em;
      left: 0.3em;
      top: 11em;
      transition: all 500ms ease;
    }

    .story {
      margin-top: 2em;
    }

    .one {
      top: 0.5em;
      right: 4em;
    }

    .two {
      width: 56%;
      top: 2.4em;
      right: 0em;
      line-height: 35px;
    }

    .three {
      right: 1em;
      top: 6.3em;
    }

    .four {
      left: 11em;
      margin-right: 0;
      line-height: 35px;
    }

    .five {
      line-height: 35px;
      top: 14.8em;
      left: 8.5em;
      margin-right: 1em;
    }

    .videoButton {
      font-size: 1em;
      height: 2.5em;
    }

    .pdfButton {
      font-size: 1em;
      height: 2.5em;
    }
  }

  @media (min-width: $small-devices) {
    height: 65em;

    .inside {
      width: 38em;
    }

    .imageHolder {
      height: 42em;
    }

    .hockeyImage {
      height: 31em;
      width: 31em;
      left: -2.8em;
      top: 10.8em;
      transition: all 500ms ease;
    }

    h2 {
      font-size: 3.5em;
      margin-right: 3.5em;
    }

    h3 {
      font-size: 2.9em;
      margin-right: 2.8em;
    }

    p {
      font-size: 1.5em;
    }

    .one {
      top: 0.8em;
    }

    .two {
      width: 53%;
      line-height: 40px;
      margin-right: 0.5em;
    }

    .three {
      top: 6.5em;
    }

    .four {
      line-height: 40px;
      left: 12em;
      top: 8em;
    }

    .five {
      line-height: 40px;
      left: 9.5em;
      top: 15.5em;
    }
  }
}
