:local .About {
  height: 50em;
  padding-top: 4em;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    position: absolute;
    color: #c3c3c3;
    font-size: 1.3em;
  }

  h2 {
    color: #011829;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 0.7px 0.7px #000;
  }

  h3 {
    color: #146474;
    font-size: 2.7em;
    text-align: center;
    margin-top: -0.5em;
    margin-left: 0.5em;
    text-shadow: 3px 3px #000;
  }

  .line {
    border: 1px solid #c0a062;
    width: 10em;
  }

  .inside {
    height: 100%;
    width: 29em;
    margin-top: 4em;
    position: relative;
  }

  .hockey {
    position: absolute;
    background-image: url('../../../assets/images/chiefs.png');
    background-size: cover;
    height: 18em;
    width: 18em;
    left: 1.6em;
    top: 11.1em;
    transition: all 500ms ease;
  }

  .story {
    position: relative;
  }

  .one {
    top: 1em;
    right: 3.7em;
  }

  .two {
    width: 54%;
    top: 2.6em;
    right: 2em;
    line-height: 30px;
  }

  .three {
    right: 1.8em;
    top: 6.03em;
  }

  .four {
    left: 8.4em;
    top: 7.6em;
    margin-right: 1em;
    line-height: 30px;
  }

  .five {
    top: 14.3em;
    left: 5em;
    line-height: 30px;
  }

  .videoButton {
    position: absolute;
    // border-radius: 50%;
    bottom: 4em;
    left: 2em;
    height: 1.8em;
    width: 5.5em;
    font-size: 1.8em;
    color: #fff;
    background-color: #c0a062;
    border: 1px solid #a68e60;
  }

  .pdfButton {
    position: absolute;
    bottom: 4em;
    left: 8em;
    // border-radius: 50%;
    height: 1.8em;
    width: 5.5em;
    font-size: 1.8em;
    color: #fff;
    background-color: #c0a062;
    border: 1px solid #a68e60;
  }

  @media (min-width: 480px) {

    .inside {
      width: 34em;
    }

    .hockey {
      height: 25em;
      width: 25em;
      left: 0.3em;
      top: 11em;
      transition: all 500ms ease;
    }

    p {
      font-size: 1.4em;
    }

    .story {
      margin-top: 2em;
    }

    .one {
      top: 0.5em;
      right: 4em;
    }

    .two {
      width: 56%;
      top: 2.4em;
      right: 0em;
      line-height: 35px;
    }

    .three {
      right: 1em;
    }

    .four {
      left: 11em;
      margin-right: 0;
      line-height: 35px;
    }

    .five {
      line-height: 35px;
      top: 14.8em;
      left: 8.5em;
      margin-right: 1em;
    }
  }

  @media (min-width: 768px) {
    height: 58em;

    .inside {
      width: 38em;
    }

    .hockey {
      height: 32em;
      width: 32em;
      left: -3em;
      top: 10.8em;
      transition: all 500ms ease;
    }

    h2 {
      font-size: 3.5em;
    }

    h3 {
      font-size: 2.9em;
    }

    p {
      font-size: 1.5em;
    }

    .one {
      top: 0.8em;
    }

    .two {
      width: 53%;
      line-height: 40px;
    }

    .three {
      top: 6.5em;
    }

    .four {
      line-height: 40px;
      left: 12em;
      top: 8em;
    }

    .five {
      line-height: 40px;
      left: 9.5em;
      top: 15.5em;
    }

    .videoButton {
      right: -2em;
      height: 2em;
      width: 5.5em;
      font-size: 2em;
      color: #fff;
    }

    .pdfButton {
      right: -3em;
      height: 2em;
      width: 5.5em;
      font-size: 2em;
      color: #fff;
      background-color: #c0a062;
      border: 1px solid #a68e60;
    }
  }
}
