:local .About {
  height: 50em;
  padding-top: 4em;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    position: absolute;
    color: #c3c3c3;
    font-size: 1.2em;
  }

  h2 {
    color: #011829;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 0.7px 0.7px #000;
  }

  h3 {
    color: #146474;
    font-size: 2.7em;
    text-align: center;
    margin-top: -0.5em;
    text-shadow: 3px 3px #000;
  }

  .stickOne {
    width: 5.8em;
    left: 3.5em;
    top: 19.9em;
    height: 0.4em;
    background: #c0a062;
    position: absolute;
    opacity: 0.9;
    border-radius: 10px 0px 15px 0px;
    box-shadow: 1px 1px #000;
    transform: rotate(-13deg);
  }

  .brand {
    display: none;
  }

  .testTwo {
    width: 8em;
    top: 18.2em;
    left: 10.2em;
    height: 0.4em;
    background: #c0a062;
    position: absolute;
    opacity: 0.9;
    border-radius: 15px 10px 5px 0px;
    box-shadow: 1px 1px #000;
    transform: rotate(-12deg);
  }

  .blade {
    background: #b39b65;
    position: absolute;
    top: 15.8em;
    left: 16.8em;
    width: 3.1em;
    height: 1em;
    transform: rotate(-66deg);
    border-radius: 0px 10px 15px 15px;
  }

  .tape {
    position: absolute;
    height: 1em;
    width: 0.8em;
    left: 0.5em;
    top: 0em;
    border-right: 2px solid #146474;
    border-left: 2px solid #146474;
    background-color: #012537;
  }

  .tapeTwo {
    position: absolute;
    height: 1em;
    width: 0.8em;
    left: 1.1em;
    top: 0em;
    border-right: 2px solid #146474;
    border-left: 2px solid #146474;
    background-color: #012537;
  }

  .tapeThree {
    position: absolute;
    height: 1em;
    width: 0.8em;
    left: 1.9em;
    top: 0em;
    border-right: 2px solid #146474;
    border-left: 2px solid #146474;
    background-color: #012537;
  }

  .arrowOne {
    display: none;
  }

  .arrowTwo {
    display: none;
  }

  .line {
    border: 1px solid #c0a062;
    width: 10em;
    margin-left: 8em;
  }

  .inside {
    height: 100%;
    width: 29em;
    margin-top: 4em;
    position: relative;
  }

  .hockey {
    position: absolute;
    background-image: url('../../../assets/images/chief.png');
    background-size: cover;
    height: 18em;
    width: 18em;
    left: 1.6em;
    top: 11.1em;
    transition: all 500ms ease;
    filter: drop-shadow(5px 2px 7px rgba(255,255,255,0.4)); filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.9));
  }

  .story {
    position: relative;
    margin-top: -0.7em;
  }

  .one {
    top: 1em;
    right: 3.7em;
  }

  .two {
    width: 54%;
    top: 2.6em;
    right: 2em;
    line-height: 30px;
  }

  .three {
    right: 1.8em;
    top: 6.4em;
  }

  .four {
    left: 8.6em;
    top: 7.6em;
    margin-right: 1em;
    line-height: 30px;
  }

  .five {
    top: 14.5em;
    left: 5em;
    line-height: 30px;
  }

  .highlights {
    font-size: 1em;
    color: #c3c3c3;
    position: absolute;
    left: 15.7em;
    top: 39em;
  }

  .resume {
    font-size: 1em;
    color: #c3c3c3;
    position: absolute;
    left: 2.9em;
    top: 39em;
  }

  .videoButton {
    position: absolute;
    top: 19em;
    left: 3em;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.8em;
    border-radius: 50%;
    color: #fff;
    background-color: #012537;
    border: 3px solid #146474;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #c0a062;
      color: #021019;
    }
  }

  .pdfButton {
    position: absolute;
    top: 19em;
    left: 10em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    font-size: 1.8em;
    color: #fff;
    background-color: #012537;
    border: 3px solid #146474;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #c0a062;
      color: #021019;
    }
  }

  @media (min-width: 480px) {
    height: 60em;

    p {
      font-size: 1.4em;
    }

    .inside {
      width: 34em;
    }

    .hockey {
      height: 25em;
      width: 25em;
      left: 0.3em;
      top: 11em;
      transition: all 500ms ease;
    }

    .stickOne {
      width: 8.2em;
      left: 3em;
      top: 23.4em;
      height: 0.45em;
      background: #c0a062;
      position: absolute;
      opacity: 0.9;
      border-radius: 10px 0px 15px 0px;
      box-shadow: 1px 1px #000;
      transform: rotate(-13deg);
    }

    .testTwo {
      width: 10.6em;
      top: 21.1em;
      left: 12.2em;
      height: 0.45em;
      background: #c0a062;
      position: absolute;
      opacity: 0.9;
      border-radius: 15px 10px 5px 0px;
      box-shadow: 1px 1px #000;
      transform: rotate(-12deg);
    }

    .blade {
      background: #b39b65;
      position: absolute;
      top: 17.85em;
      left: 21.35em;
      width: 4.3em;
      height: 1.2em;
      transform: rotate(-63deg);
      border-radius: 0px 10px 15px 15px;
    }

    .tape {
      position: absolute;
      height: 1.25em;
      width: 1em;
      left: 0.5em;
      top: 0em;
      border-right: 2px solid #146474;
      border-left: 2px solid #146474;
      background-color: #012537;
    }

    .tapeTwo {
      position: absolute;
      height: 1.25em;
      width: 1em;
      left: 1.5em;
      top: 0em;
      border-right: 2px solid #146474;
      border-left: 2px solid #146474;
      background-color: #012537;
    }

    .tapeThree {
      position: absolute;
      height: 1.25em;
      width: 1em;
      left: 2.5em;
      top: 0em;
      border-right: 2px solid #146474;
      border-left: 2px solid #146474;
      background-color: #012537;
    }

    .highlights {
      font-size: 1em;
      color: #c3c3c3;
      position: absolute;
      left: 17.3em;
      top: 44em;
    }

    .resume {
      font-size: 1em;
      color: #c3c3c3;
      position: absolute;
      left: 2.9em;
      top: 44em;
    }

    .videoButton {
      position: absolute;
      top: 21.5em;
      left: 3em;
      height: 2.5em;
      width: 2.5em;
      font-size: 1.8em;
      border-radius: 50%;
      color: #fff;
      background-color: #012537;
      border: 3px solid #146474;
    }

    .pdfButton {
      position: absolute;
      top: 21.5em;
      left: 10.8em;
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
      font-size: 1.8em;
      color: #fff;
      background-color: #012537;
      border: 3px solid #146474;
    }

    .story {
      margin-top: 2em;
    }

    .one {
      top: 0.5em;
      right: 4em;
    }

    .two {
      width: 56%;
      top: 2.4em;
      right: 0em;
      line-height: 35px;
    }

    .three {
      right: 1em;
    }

    .four {
      left: 11em;
      margin-right: 0;
      line-height: 35px;
    }

    .five {
      line-height: 35px;
      top: 14.8em;
      left: 8.5em;
      margin-right: 1em;
    }
  }

  @media (min-width: 768px) {
    height: 65em;

    .inside {
      width: 38em;
      margin-left: 12em;
    }

    .hockey {
      height: 32em;
      width: 32em;
      left: -3em;
      top: 10.8em;
      transition: all 500ms ease;
    }

    h2 {
      font-size: 3.5em;
      margin-right: 3.5em;
    }

    h3 {
      font-size: 2.9em;
      margin-right: 2.8em;
    }

    p {
      font-size: 1.5em;
    }

    .one {
      top: 0.8em;
    }

    .two {
      width: 53%;
      line-height: 40px;
      margin-right: 0.5em;
    }

    .three {
      top: 6.5em;
    }

    .four {
      line-height: 40px;
      left: 12em;
      top: 8em;
    }

    .five {
      line-height: 40px;
      left: 9.5em;
      top: 15.5em;
    }

    .stickOne {
      width: 10.8em;
      left: 0.3em;
      height: 0.8em;
      background: #c0a062;
      position: absolute;
      top: 26.6em;
      opacity: 0.9;
      border-radius: 10px 0px 15px 0px;
      box-shadow: 1px 1px #000;
      transform: rotate(-13deg);
    }

    .brand {
      font-size: 0.7em;
      position: absolute;
      margin-left: 3.5em;
      margin-top: -0.1em;
      color: #021019;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      transform: rotate(0.5deg);
      display: inline;
    }

    .testTwo {
      width: 14em;
      top: 23.6em;
      left: 12.1em;
      height: 0.8em;
      background: #c0a062;
      position: absolute;
      opacity: 0.9;
      border-radius: 15px 10px 5px 0px;
      box-shadow: 1px 1px #000;
      transform: rotate(-12deg);
    }

    .blade {
      background: #b39b65;
      position: absolute;
      top: 19.7em;
      left: 24.1em;
      width: 5.35em;
      height: 1.55em;
      transform: rotate(-66deg);
      border-radius: 0px 10px 15px 15px;
    }

    .tape {
      position: absolute;
      height: 1.75em;
      width: 1.2em;
      left: 1em;
      top: -0.1em;
      border-right: 2px solid #146474;
      border-left: 2px solid #146474;
      background-color: #012537;
    }

    .tapeTwo {
      position: absolute;
      height: 1.75em;
      width: 1.2em;
      left: 2.1em;
      top: -0.1em;
      border-right: 2px solid #146474;
      border-left: 2px solid #146474;
      background-color: #012537;
    }

    .tapeThree {
      position: absolute;
      height: 1.75em;
      width: 1.2em;
      left: 3.1em;
      top: -0.1em;
      border-right: 2px solid #146474;
      border-left: 2px solid #146474;
      background-color: #012537;
    }

    .arrowOne {
      position: absolute;
      top: 6em;
      left: -4.5em;
      color: #c0a062;
      font-size: 1.8em;
      transform: rotate(-20deg);
      display: inline;
    }

    .arrowTwo {
      position: absolute;
      top: 14em;
      left: -8.4em;
      color: #c0a062;
      font-size: 1.8em;
      transform: rotate(-20deg);
      display: inline;
    }

    .highlights {
      color: #c3c3c3;
      position: absolute;
      left: -9em;
      top: 10.4em;
      font-size: 1.3em;
    }

    .resume {
      color: #c3c3c3;
      position: absolute;
      left: -14em;
      top: 21.7em;
      font-size: 1.3em;
    }

    .videoButton {
      position: absolute;
      top: 4em;
      left: -3em;
      height: 3em;
      width: 3em;
      font-size: 1.8em;
      border-radius: 50%;
      color: #fff;
      background-color: #012537;
      border: 3px solid #146474;
    }

    .pdfButton {
      position: absolute;
      top: 12em;
      left: -7em;
      height: 3em;
      width: 3em;
      border-radius: 50%;
      font-size: 1.8em;
      color: #fff;
      background-color: #012537;
      border: 3px solid #146474;
    }
  }
}
