:local .Wrapper {
  min-height: 47em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161616;


  @media (min-width: 480px) {
    min-height: 46em;
  }

  @media (min-width: 768px) {
    min-height: 56em;
  }
}

.example-enter {
  width: 100%;
  position: absolute;
  transform: translate3d(0, 0, 0);
  opacity: 0.01;
  transition: opacity 0.35s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  width: 100%;
  position: absolute;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.35s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}
