@import '../../../styles/variables';

:local .ProjectRow {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 29.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8em;

  h5 {
    color: $subheader-color;
  }

  .projectName {
    font-size: 1.3em;
    color: $header-color;
    text-align: left;
    margin-left: 1.5em;
    margin-top: 1.5em;
    cursor: pointer;
  }

  .projectBox {
    width: 100%;
    background-color: $dark-color;
    margin-bottom: 0.8em;
    height: 13.5em;
    font-family: 'Merriweather', serif;
  }

  .openIcon {
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
    float: right;
    margin-right: 1em;
    margin-top: 1em;
    &:hover {
      color: #c0a062;
    }
  }

  .line {
    width: 20%;
    border: 0 none;
    height: 1px;
    background-color: $accent-color;
    margin-left: 2.1em;
  }

  .details {
    text-align: left;
    margin-left: 1.9em;
    font-family: 'Open Sans', sans-serif;
  }

  .bold {
    font-weight: 200;
  }

  @media (min-width: $extra-small-devices) {}

  @media (min-width: $small-devices) {
    .projectBox {
      width: 47%;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

}
