@import '../../../styles/variables';

:local .ProjectDetails {
  height: 100%;
  width: 100%;
  margin-top: 2em;

  h5 {
    position: absolute;
    color: $highlight-color;
    margin-left: 2.5em;
    margin-top: 0em;
    font-weight: lighter;
    cursor: pointer;
  }

  .folderWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: space-between;
    position: relative;
  }

  .projectFolder {
    width: 90%;
    height: 30em;
    background-color: $secondary-color;
    margin-left: 1em;
    margin-right: 1em;
    top: 3em;
    position: absolute;
  }

  .projectTab {
    height: 0;
	  width: 16em;
    position: absolute;
    top: -2.8em;
    left: 0em;
    border-bottom: 40px solid $secondary-color;
	  border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectName {
    color: $header-color;
    margin-top: 2.4em;
    z-index: 100;
    font-size: 1.2em;
    font-family: $header-font-family, serif;
  }

  .projectBorder {
    border: 1px solid $detail-color;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-right: -1em;
    margin-left: 1em;
    position: relative;
    display: flex;
  }

  .description {
    width: 20em;
    height: 100%;
  }

  .descriptionHeader {
    position: absolute;
    letter-spacing: 1px;
    font-size: 0.9em;
    left: -2em;
    top: 1.05em;
    transform: rotate(-90deg);
    color: $subheader-color;
    font-weight: $subheader-font-weight;
    font-family: $subheader-font-family, sans-serif;
  }

  .descriptionText {
    position: absolute;
    width: 80%;
    left: 2.5em;
    top: 1em;
    line-height: 25px;
    font-size: 1.1em;
    color: $paragraph-color;
    font-weight: $paragraph-font-weight;
    font-family: $paragraph-font-family, serif;
  }

  .techHeader {
    position: absolute;
    letter-spacing: 1px;
    font-size: 0.9em;
    left: 1.3em;
    top: 10em;
    color: $subheader-color;
    font-weight: $subheader-font-weight;
    font-family: $subheader-font-family, sans-serif;
  }

  .techText {
    position: absolute;
    width: 80%;
    left: 1.2em;
    top: 12em;
    line-height: 25px;
    font-size: 1.1em;
    color: $paragraph-color;
    font-weight: $paragraph-font-weight;
    font-family: $paragraph-font-family, serif;
  }

  .screenHeader {
    position: absolute;
    letter-spacing: 1px;
    font-size: 0.9em;
    left: -5.2em;
    top: 0.3em;
    transform: rotate(-90deg);
    color: $subheader-color;
    font-weight: $subheader-font-weight;
    font-family: $subheader-font-family, sans-serif;
  }

  .screenshots {
    position: absolute;
    display: flex;
    height: 7em;
    width: 80%;
    padding-left: 1em;
    padding-right: 2.5em;
    top: 19.1em;
    left: 3em;
    justify-content: flex-start;
  }

  .minesweeperOne {
    background-image: url('../../../assets/images/minesweeper.png');
    background-size: cover;
    height: 7em;
    width: 7em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 2px;
  }

  .blackjackOne {
    background-image: url('../../../assets/images/blackjack.png');
    background-size: cover;
    height: 7em;
    width: 7em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 2px;
  }

  .earthquakeOne {
    background-image: url('../../../assets/images/earthquake.png');
    background-size: cover;
    height: 7em;
    width: 7em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 2px;
  }

  .smallgameOne {
    background-image: url('../../../assets/images/smallOne.png');
    background-size: cover;
    background-position: center;
    height: 7em;
    width: 7em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 2px;
  }

  .viewProject {
    position: absolute;
    bottom: -1.6em;
    left: 3em;
    padding: 1em;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: $button-color;
    background-color: $button-background-color;
    border: 1px solid $button-border-color;
    font-family: $button-font-family, sans-serif;
    &:hover {
      background-color: $button-hover-background-color;
      color: $button-hover-color;
      border: 1px solid $button-hover-border-color;
      transition: $button-hover-transition-time;
    }
  }

  @media (min-width: $tiny-devices) {

  }

  @media (min-width: $extra-small-devices) {

    .folderWrapper {
      height: 100%;
      width: 100%;
      display: flex;
      margin-top: 0;
      justify-content: space-between;
    }

    .projectFolder {
      margin-top: 5em;
    }

    .descriptionHeader {
      top: 1em;
    }

    .techText {
      top: 12.5em;
    }

    .screenHeader {
      top: -0.2em;
    }

  }

  @media (min-width: $small-devices) {
    width: 85%;
    max-width: 70em;

    .projectFolder {
      height: 30em;
      margin-top: 6em;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .projectBorder {
      margin-top: 2.5em;
      margin-right: -2.5em;
      margin-left: 2.5em;
      display: flex;
      flex-wrap: nowrap;
    }

    .description {
      width: 50%;
      height: 100%;
      margin-bottom: 4em;
    }

    .descriptionHeader {
      font-size: 0.9em;
      left: 0;
      top: 1.7em;
      transform: rotate(-90deg);
    }

    .descriptionText {
      width: 35%;
      left: 5em;
      top: 1.5em;
    }

    .techHeader {
      left: 3.3em;
      top: 11em;
    }

    .techText {
      width: 40%;
      left: 2.7em;
      top: 14em;
    }

    .screenHeader {
      position: relative;
      top: -8em;
      left: 9.5em;
      transform: rotate(0deg);
    }

    .screenshots {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 20em;
      padding-left: 0;
      padding-right: 0;
      top: 0;
      left: -2em;
    }

    .minesweeperOne {
      height: 11em;
      width: 11em;
      margin-top: 3em;
      transition: all 500ms ease;
    }

    .blackjackOne {
      height: 11em;
      width: 11em;
      margin-top: 3em;
      transition: all 500ms ease;
    }

    .earthquakeOne {
      height: 11em;
      width: 11em;
      margin-top: 3em;
      transition: all 500ms ease;
    }

    .smallgameOne {
      height: 11em;
      width: 11em;
      margin-top: 3em;
      transition: all 500ms ease;
    }
  }

  @media (min-width: $medium-devices) {
    .screenshots {
      width: 29em;
    }

    .screenHeader {
      top: -11.5em;
      left: 13em;
    }

    .minesweeperOne {
      height: 17em;
      width: 17em;
      margin-top: 3em;
      transition: all 500ms ease;
    }

    .blackjackOne {
      height: 17em;
      width: 17em;
      margin-top: 3em;
      transition: all 500ms ease;
    }

    .earthquakeOne {
      height: 17em;
      width: 17em;
      margin-top: 3em;
      transition: all 500ms ease;
    }

    .smallgameOne {
      height: 17em;
      width: 17em;
      margin-top: 3em;
      transition: all 500ms ease;
    }
  }
}
