:local .ScreenshotModal {

  border-radius: 3px;

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .closeButton {
    background-color: #191919;
    border-radius: 2px;
    color: #c0a062;
    border: 1px solid #272727;
    &:hover {
      background-color: #c0a062;
      color: #191919;
      border: 1px solid #272727;
    }
  }

  .minesweeperOne {
    background-image: url('../../../assets/images/minesweeper.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }

  .blackjackOne {
    background-image: url('../../../assets/images/blackjack.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }

  .earthquakeOne {
    background-image: url('../../../assets/images/earthquake.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }

  .smallgameOne {
    background-image: url('../../../assets/images/smallgame.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }
}

.modal-body {
  background-color: #012537;
  border-top: 3px solid #146474;
  border-bottom: 3px solid #146474;
}

.modal-header {
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px 3px 0px 0px;
  background-color: #012537;
  border-bottom: 3px solid #272727;
  margin-bottom: -0.2em;
  color: #fff;
  button {
    color: #c0a062;
    opacity: 1;
    text-shadow: 0.7px 0.7px #000;
    &:hover {
      color: #c0a062;
      opacity: 1;
    }
  }
}

.modal-footer {
  border-radius: 0px 0px 3px 3px;
  margin-top: -0.2em;
  border-top: 3px solid #272727;
  background-color: #012537;
  button {
    border: 1px solid #b79e6a;
    background-color: #c0a062;
    color: #fff;
    &:hover {
      background-color: #b79e6a;
      border: 1px solid #c0a062;
    }
  }
}
