:local .ScreenshotModal {

  border-radius: 3px;

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .closeButton {
    background-color: #c0a062;
    border-radius: 2px;
    color: #fff;
    border: 1px solid #021019;
    &:hover {
      background-color: #c0a670;
      color: #021019;
      border: 1px solid #021019;
    }
  }

  .minesweeperOne {
    background-image: url('../../../assets/images/minesweeper.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }

  .blackjackOne {
    background-image: url('../../../assets/images/blackjack.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }

  .earthquakeOne {
    background-image: url('../../../assets/images/earthquake.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }

  .smallgameOne {
    background-image: url('../../../assets/images/smallgame.png');
    background-size: cover;
    height: 20em;
    width: 20em;
    border-radius: 3px;
  }
}

.modal-body {
  background-color: #1c1c1c;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
}

.modal-header {
  font-family: 'Open Sans', sans-serif;
  background-color: #1c1c1c;
  margin-bottom: -0.2em;
  color: #fff;
  button {
    color: #c0a062;
    opacity: 1;
    text-shadow: none;
    &:hover {
      color: #c0a062;
      opacity: 1;
    }
  }
}

.modal-footer {
  margin-top: -0.2em;
  background-color: #1c1c1c;
  button {
    border: none;
    border-radius: 0px;
    background-color: #c0a062;
    color: #fff;
    &:hover {
      background-color: #b79e6a;
      border: none;
    }
  }
}
