:local .DividerThree {
  height: 60em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;

  h2 {
    color: #121212;
    font-size: 2.6em;
  }

  h3 {
    color: #c0a062;
    font-size: 2em;
    margin-top: -0.9em;
    margin-left: 0.5em;
  }

  h4 {
    color: #fff;
    margin-left: 1em;
    margin-top: 0.7em;
    text-shadow: 1px 1px #000;
  }

  .chartHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .description {
    order: 1;
  }

  .chart {
    order: 2;
  }

  .headings {
    margin-top: -5em;
    margin-left: 0;
  }

  .legend {
    margin-left: 2em;
    margin-top: 4em;
    margin-bottom: 6em;
  }

  .hockeySkills {
    display: flex;
  }

  .codingSkills {
    display: flex;
    margin-top: 2.5em;
  }

  .hockeyColor {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: #fff;
    margin: 11.55px 0;
  }

  .hockeyColor:before,
  .hockeyColor:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .hockeyColor:before {
    bottom: 100%;
    border-bottom: 11.55px solid #fff;
  }

  .hockeyColor:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #fff;
  }

  .codingColor {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: rgba(192,160,98,0.5);
    margin: 11.55px 0;
  }

  .codingColor:before,
  .codingColor:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .codingColor:before {
    bottom: 100%;
    border-bottom: 11.55px solid rgba(192,160,98,0.5);
  }

  .codingColor:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid rgba(192,160,98,0.5);
  }

  .line {
    border: 1px solid #c0a062;
    width: 10em;
  }

  @media (min-width: 480px) {

  }

  @media (min-width: 768px) {
    height: 35em;

    h2 {
      font-size: 2.6em;
    }

    h3 {
      font-size: 2em;
      margin-top: -0.9em;
      margin-left: 0.5em;
    }

    h4 {
      color: #c3c3c3;
      margin-left: 1em;
      text-shadow: 1px 1px #000;
    }

    .chartHolder {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {
      order: 2;
    }

    .chart {
      order: 1;
    }

    .headings {
      margin-top: -7em;
      margin-left: 4em;
    }

    .legend {
      margin-left: 2em;
      margin-top: 3em;
    }

    .hockeySkills {
      display: flex;
    }

    .codingSkills {
      display: flex;
      margin-top: 2.5em;
    }

    .line {
      border: 1px solid #c0a062;
      width: 10em;
    }
  }
}
