:local .DividerOne {
  height: 75em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  h3 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #fff;
  }

  p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #969696;
    margin-top: 1.5em;
    font-size: 1.1em;
    text-shadow: 2px 2px #021019;
    font-family: 'Open Sans', sans-serif;
  }

  .boxHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .box {
    width: 25em;
    height: 25em;
  }

  .line {
    border: 1px solid #c0a062;
    width: 6em;
  }

  .hexagonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #1c1c1c;
    margin: 28.87px 0;
    border-left: solid 3px #cdae73;
    border-right: solid 3px #cdae73;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 11.6447px;
  }

  .hexagon:before {
    top: -35.3553px;
    border-top: solid 4.2426px #cdae73;
    border-right: solid 4.2426px #cdae73;
  }

  .hexagon:after {
    bottom: -35.3553px;
    border-bottom: solid 4.2426px #cdae73;
    border-left: solid 4.2426px #cdae73;
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    color: #333333;
    z-index: 100;
    font-size: 3.5em;
  }

  @media (min-width: 480px) {
    .box {

    }
  }

  @media (min-width: 768px) {
    height: 40em;

    .box {
      height: 25em;
      width: 15em;
    }
  }

  @media (min-width: 1100px) {
    .box {
      height: 25em;
      width: 25em;
    }
  }
}
