:local .DividerTwo {
  height: 60em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;

  h2 {
    color: #121212;
    font-size: 2.6em;
    margin-left: 1.8em;
    margin-top: 4em;
  }

  h3 {
    color: #c0a062;
    font-size: 2em;
    margin-top: -0.9em;
    margin-left: 2.5em;
  }

  h4 {
    color: #fff;
    margin-left: 1em;
    text-shadow: 1px 1px #000;
  }

  .chartHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .description {
    margin-top: -8em;
    margin-right: 1.5em;
  }

  .line {
    border: 1px solid #c0a062;
    margin-left: 8em;
    width: 8em;
  }

  .radar {
    margin-left: 0em;
  }

  .legend {
    margin-left: 2.5em;
  }

  .withCoffee {
    display: flex;
    padding-left: 1.5em;
    padding-top: 2.5em;
  }

  .coffeeColor {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: #fff;
    margin: 11.55px 0;
  }

  .coffeeColor:before,
  .coffeeColor:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .coffeeColor:before {
    bottom: 100%;
    border-bottom: 11.55px solid #fff;
  }

  .coffeeColor:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #fff;
  }

  .withoutCoffee {
    display: flex;
    padding-left: 1.5em;
    padding-top: 2.5em;
  }

  .noCoffeeColor {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: rgba(192,160,98,0.5);
    margin: 11.55px 0;
  }

  .noCoffeeColor:before,
  .noCoffeeColor:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .noCoffeeColor:before {
    bottom: 100%;
    border-bottom: 11.55px solid rgba(192,160,98,0.5);
  }

  .noCoffeeColor:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid rgba(192,160,98,0.5);
  }

  @media (min-width: 480px) {
    height: 65em;

    .description {
      margin-top: -10em;
    }

  }

  @media (min-width: 768px) {
    height: 35em;

    h2 {
      font-size: 2.6em;
    }

    h3 {
      font-size: 2em;
      margin-top: -0.9em;
      margin-left: 3em;
    }

    h4 {
      margin-left: 1em;
    }

    .line {
      border: 1px solid #c0a062;
      margin-left: 9em;
      width: 10em;
    }

    .chartHolder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .description {
      margin-top: -11em;
      margin-right: 1.5em;
    }

    .radar {
      margin-left: 1.5em;
    }

    .withCoffee {
      display: flex;
      padding-left: 1.5em;
      padding-top: 2.5em;
    }

    .withoutCoffee {
      display: flex;
      padding-left: 1.5em;
      padding-top: 2.5em;
    }
  }
}
