@import '../../styles/variables';

:local .Interests {
  height: 59em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: $shadow-color;
    font-size: 2.6em;
  }

  h3 {
    color: $highlight-color;
    font-size: 2em;
    margin-top: -0.9em;
    margin-left: 0.5em;
    font-family: $highlight-font-family, serif;
  }

  h4 {
    color: $subheader-color;
    margin-left: 1em;
    font-size: 1.1em;
    margin-top: 0.9em;
    font-weight: $subheader-font-weight;
    font-family: $subheader-font-family, sans-serif;
  }

  .insideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .description {
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line {
    border: 0 none;
    height: 1px;
    background-color: $accent-color;
    margin-left: 8em;
    width: 8em;
  }

  .graph {
    padding: 0;
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radar {
    margin-top: -5em;
  }

  .legend {
    margin-left: 0.5em;
  }

  .withCoffee {
    display: flex;
    padding-left: 1.5em;
    padding-top: 2.5em;
  }

  .coffeeColor {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: #fff;
    margin: 11.55px 0;
  }

  .coffeeColor:before,
  .coffeeColor:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .coffeeColor:before {
    bottom: 100%;
    border-bottom: 11.55px solid #fff;
  }

  .coffeeColor:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #fff;
  }

  .withoutCoffee {
    display: flex;
    padding-left: 1.5em;
    padding-top: 2.5em;
  }

  .noCoffeeColor {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: rgba(192,160,98,0.5);
    margin: 11.55px 0;
  }

  .noCoffeeColor:before,
  .noCoffeeColor:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .noCoffeeColor:before {
    bottom: 100%;
    border-bottom: 11.55px solid rgba(192,160,98,0.5);
  }

  .noCoffeeColor:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid rgba(192,160,98,0.5);
  }

  @media (min-width: $extra-small-devices) {
    height: 65em;

    .description {
      height: 35em;
    }

    .graph {
      height: 35em;
    }

    .radar {
      max-height: 35em;
      max-width: 35em;
    }
  }

  @media (min-width: $small-devices) {
    height: 35em;

    h2 {
      font-size: 2.6em;
      margin-left: 2em;
    }

    h3 {
      font-size: 2em;
      margin-top: -0.9em;
      margin-left: 3em;
    }

    h4 {
      margin-left: 1em;
    }

    .line {
      margin-left: 9em;
      width: 10em;
    }

    .legend {
      margin-left: 5em;
    }

    .insideWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .description {
      width: 50%;
      margin-top: -8em;
    }

    .graph {
      width: 50%;
    }

    .radar {
      margin-top: 0;
    }

    .withCoffee {
      display: flex;
      padding-left: 1.5em;
      padding-top: 2.5em;
    }

    .withoutCoffee {
      display: flex;
      padding-left: 1.5em;
      padding-top: 2.5em;
    }
  }
}
